* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    font-size: 2em;
}
input {
    width: 100%;
    margin: 0 auto;
    font-size: 2em;
    border-bottom: 5px solid orange;
}

#calculatorBtnsContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90vh;
    height: 90vh;
    margin: 4vh auto;
    border: 5px solid orange;
}

#upperBtnRow {
    display: flex;
    flex: 0.5 1 auto;
}
#upperBtnRow button{
    flex: 1 1 20vh;
}
#upperBtnRow #btnOperate {
    flex: 1 1 42.5vh;
}

#lowerBtnRow{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
}
#lowerBtnRow button{
    flex: 1 1 20vh;
}